/src/config.h.in
/src/config.h

/src/notification-area-unstable-v*-protocol.c
/src/notification-area-unstable-v*-server-protocol.h

/weston-notification-area.la
/orbment-plugin-notification-area.la

/pkgconfig/*.pc
/wlc-notification-area/pkgconfig/*.pc

/local-rules.mk
