/src/config.h.in
/src/config.h

/src/*-protocol.c
/src/*-server-protocol.h
/src/*-client-protocol.h

/weston-notification-area.la
/orbment-plugin-notification-area.la

/pkgconfig/*.pc
/wlc/pkgconfig/*.pc

/local-rules.mk
